<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
    <link rel="icon" href="~/Theater_Elementos/img/Logotype.png" type="image/png" />
    <link href="~/Layout_Pantalla/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Layout_Pantalla/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Layout_Pantalla/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/Layout_Pantalla/build/css/custom.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false) @*Si quiero poner estilos adicionales desde donde lo heredan*@
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <br>
                    <div class="navbar nav_title" style="border: 0;">

                        <img style=" width:90%; margin-top:-25px; margin-left:8px; " src="~/UserPrincipal/img/ASJFull.png">


                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Layout_Pantalla/images/user.png" alt="imagen del usuario" class="img-circle profile_img" />


                        </div>
                        <div class="profile_info">
                            <span>bienvenido,</span>
                            <h2>Admin</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="~/Admin/Index"><i class="fa fa-home"></i>Inicio</a></li>
                                <br />
                                <li>

                                    <a><i class="fa fa-cogs"></i> Módulo Mantenimineto <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Admin/VerPelicula" style="font-size:14px;">Peliculas</a></li>
                                        <li><a href="~/Admin/VerDirector" style="font-size:14px;">Director</a></li>

                                    </ul>
                                </li>
                                <br />
                                <li>
                                    <a><i class="fa fa-tasks"></i>  Vista<span class="fa fa-eye"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/User/Index" style="font-size:14px;">  Vista Del Usuario </a></li>


                                    </ul>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>


            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Layout_Pantalla/images/user.png" alt="">NOMBRE

                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a > </a>
                                   
                                
                                    <a class="dropdown-item" href="~/Home/Login"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                          
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- CONTENIDO -->
            <div class="right_col" role="main">

                @RenderBody()

            </div>
            <!-- /CONTENIDO -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    COPY
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

        </div>

        <!-- SCRIPTS -->
        <script src="~/Layout_Pantalla/vendors/jquery/dist/jquery.min.js"></script>
        <script src="~/Layout_Pantalla/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/Layout_Pantalla/vendors/nprogress/nprogress.js"></script>>
        <script src="~/Layout_Pantalla/build/js/custom.min.js"></script>
    </div>
    @RenderSection("scripts", required: false)@*Si quiero poner JS adicionales desde donde lo heredan*@
</body>
</html>
